{% load static %}
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="{% static 'MediCom/images/main_logo.png' %}">
				<p>034-838-7208</p>
				<p>QBpiel@medicom.com</p>
				<p>Nguyen Van Cu street, CanTho, Vietnam</p>
			</div>
			<div class="col-md-4">
				<div class="time-work">

                    <h5>Working hours</h5>

                </div>
				<p>Monday-Friday: 8am - 5pm</p>
				<p>Weekend: 8am - 12am</p>
			</div>
			<div class="col-md-4">
				<div class="service">

                    <h5>Services</h5>

                </div>
				<p>Outsourcing</p>
				<p>Website development</p>
				<p>Mobile applications</p>
			</div>
			<div class="col-12">
				<h5>&copy; MediCom</h5>
			</div>
		</div>
	</div>
</footer>