{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en">

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'MediCom/images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'MediCom/images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'MediCom/images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'MediCom/images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'MediCom/images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'MediCom/images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'MediCom/images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'MediCom/images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'MediCom/images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'MediCom/images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'MediCom/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'MediCom/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'MediCom/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'MediCom/images/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'MediCom/images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>Medical Community</title>
    <link rel="stylesheet" href="{% static 'MediCom/css/style_landing.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
</head>

<body style="background-image: url({% static 'MediCom/images/background.jpg' %})">
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo">
                <a href="#">Medical.<span>Community</span></a></div>
            <ul class="menu">
                <li><a href="{% url 'home' %}" class="menu-btn">Home</a></li>
                <li><a href="{% url 'diagnosis' %}" class="menu-btn">Medical diagnosis</a></li>
                <li><a href="{% url 'post' %}" class="menu-btn">Blog and Posts</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">
                    Hello, my name is</div>
                <div class="text-2">
                    Huy Nguyen</div>
                <div class="text-3">
                    And I'm a <span class="typing"></span></div>
<!--                <a href="{% url 'admin_cv' %}">Hire me</a>-->
                <a href="https://bit.ly/3e6zNvg" target="_blank">Hire me</a>
                <div class="social-links">
                    <a href="https://www.facebook.com/MediCom-Medical-Community-105334277946421/" target="_blank">
                        <img src="{% static 'MediCom/images/fb_ld.png' %}" alt="">
                    </a>
                    <a href="https://www.instagram.com/huyy__/?hl=vi" target="_blank">
                        <img src="{% static 'MediCom/images/ig_ld.png' %}" alt="">
                    </a>
                    <a href="https://github.com/huynguyen-py" target="_blank">
                        <img src="{% static 'MediCom/images/gh_ld.png' %}" alt="">
                    </a>
                    <a href="https://www.hackerrank.com/iamhuynguyen1002" target="_blank">
                        <img src="{% static 'MediCom/images/hr_ld.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="bubbles">
            <img src="{% static 'MediCom/images/html.png' %}" alt="">
            <img src="{% static 'MediCom/images/css3.png' %}" alt="">
            <img src="{% static 'MediCom/images/javascript.png' %}" alt="">
            <img src="{% static 'MediCom/images/django-1.png' %}" alt="">
            <img src="{% static 'MediCom/images/python.png' %}" alt="">
            <img src="{% static 'MediCom/images/postgreesql.png' %}" alt="">
    </div>
    <script src="{% static 'MediCom/js/index_scripts.js' %}"></script>
</body>

</html>