{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'MediCom/images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'MediCom/images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'MediCom/images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'MediCom/images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'MediCom/images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'MediCom/images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'MediCom/images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'MediCom/images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'MediCom/images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'MediCom/images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'MediCom/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'MediCom/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'MediCom/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'MediCom/images/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'MediCom/images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>Medical Community</title>
    <link rel="stylesheet" href="{% static 'MediCom/css/style_landing.css' %}">
</head>
<body style="background-image: url({% static 'MediCom/images/background_ld.png' %});">
    <div class="container">
        
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'MediCom/images/main_logo.png' %}">
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'diagnosis' %}">Medical diagnosis</a></li>
                    <li><a href="{% url 'post' %}">Blog and Posts</a></li>
                </ul>
            </nav>
            <div class="user">
                <a href="{% url 'admin_cv' %}" style="color:white; text-decoration: none;"><p>Nguyen Ngoc Huy</p></a>
                <img src="{% static 'MediCom/images/admin.jpg' %}" alt="" >
            </div>
        </div>


        <div class="sidebar">
            <img src="{% static 'MediCom/images/search_ld.png' %}" class="search-icon" alt="">
            <div class="social-links">
                <a href="https://www.facebook.com/MediCom-Medical-Community-105334277946421/" target="_blank">
                    <img src="{% static 'MediCom/images/fb_ld.png' %}" alt="">
                </a>
                <a href="https://www.instagram.com/huyy__/?hl=vi" target="_blank">
                    <img src="{% static 'MediCom/images/ig_ld.png' %}" alt="">
                </a>
                <a href="https://github.com/huynguyen-py" target="_blank">
                    <img src="{% static 'MediCom/images/git_ld.png' %}" alt="">
                </a>
                <a href="https://www.hackerrank.com/iamhuynguyen1002" target="_blank">
                    <img src="{% static 'MediCom/images/hr_ld.png' %}" alt="">
                </a>
            </div>
            <img src="{% static 'MediCom/images/info_ld.png' %}" alt="" class="info-icon">
        </div>

        <div class="msg-container">
            <div id="slider">
                <div class="msg-col">
                    <h1>Detect Cancer</h1>
                    <p>More recently machine learning has been applied to cancer prognosis and prediction. This latter approach is
                        particularly interesting as it is part of a growing trend towards personalized, predictive medicine</p>
                    <a href="">Try now for free !!!</a>
                </div>
                <div class="msg-col">
                    <h1>The purpose</h1>
                    <p>
                        MediCom(Medical-Community) have been built by Huy Nguyen, this is his Graduation essay.
                    </p>
                    <a href="{% url 'home' %}">Let's discover now!</a>
                </div>
                <div class="msg-col">
                    <h1>Blog - Posts</h1>
                    <p>We try to build a community for the student and the doctor.
                        In there have a lot of posts, the blog, course,... and Now you can join in bellow to build it with us.</p>
                    <a href="{% url 'post' %}">Let's go !!!</a>
                </div>
                <div class="msg-col">
                    <h1>Website founder</h1>
                    <p>I'm Huy Nguyen, 22 year old. I'm very love research something new and then is my first project.
                        Thank for visited, I hope you will join with us by submit this button bellow. and my info be anchor
                        right top near avatar  </p>
                    <a href="https://www.facebook.com/huy1706701" target="_blank">Contact...</a>
                </div>
            </div>
            
        </div>


        <div class="controller">
            <div id="line1"></div>
            <div id="line2"></div>
            <div id="line3"></div>
            <div id="line4"></div>
            <div id="active"></div>
        </div>
        <div class="bubbles">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
            <img src="{% static 'MediCom/images/bubble.png' %}" alt="">
        </div>
    </div>

    <script>
        var slider_ = document.getElementById('slider');
        var active_ = document.getElementById('active');
        var line1_ = document.getElementById('line1');
        var line2_ = document.getElementById('line2');
        var line3_ = document.getElementById('line3');
        var line4_ = document.getElementById('line4');
            
    
        var a = 1;
        setTimeout(function() {
                if(a == 1){
                    slider_.style.transform = 'translateX(0)';
                    active_.style.top = '0px'
                }
                a += 1;
        }
        , 1000);
        setTimeout(function() {
                if(a == 2){
                    slider_.style.transform = 'translateX(-25%)';
                    active_.style.top = '80px'
                }
                a += 1;
        }
        , 2000);

        setTimeout(function() {
                if(a == 3){
                    slider_.style.transform = 'translateX(-50%)';
                    active_.style.top = '160px';
                }
                a += 1;
        }
        , 3400);
        setTimeout(function() {
                if(a == 4){
                    slider_.style.transform = 'translateX(-75%)';
                    active_.style.top = '240px'
                }
                a += 1;
        }
        , 5000);



    </script>
   
</body>

</html>