{% extends 'MediCom/post_detail_base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block cssblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="{% static 'MediCom/css/posts.css' %}" rel="stylesheet">
    <link href="{% static 'MediCom/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'MediCom/css/post_detail.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="content-post shadow-lg p-4 m-3 bg-light">
        <div class="header_post p-4 row">
            <div class="col-lg-6 col-md-6 col-xs-12 p-4">
                <h2>{{ post.title }}</h2>
                <ul>
                    <li>Author: <a href=""> {{ post.author }}</a></li>
                    <li>Date: {{ post.date }}</li>
                    <li>- {{ total_likes }} - Likes</li>
                </ul>
                <form action="{% url 'like_post' post.pk %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button class="btn btn-danger btn-sm" type="submit" name="post_id" value="{{ post.id }}">
                                <i class="fas fa-thumbs-down pl-2"></i> Unlike
                            </button>
                            {% else %}
                            <button class="btn btn-primary btn-sm" type="submit" name="post_id" value="{{ post.id }}">
                                <i class="fas fa-thumbs-up pl-2"></i> Like
                            </button>
                            {% endif %}
                            {% if user.is_authenticated and user.id == post.author.id %}
                            <a href="{% url 'update_post' post.id %}"> <span
                                    class="btn btn-primary btn-sm">Edit</span></a>
                            <a href="{% url 'delete_post' post.id %}"> <span
                                    class="btn btn-primary btn-sm">Delete</span></a>
                            {% endif %}
                </form>
            </div>
            <div class="col-6">
                <img class="img-fluid float-right" src="{{ post.img_main.url }}" alt="" width="200px">
            </div>

        </div>
        {{post.body|safe}}
    </div>

    <!-- same category post-->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr >
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
            {% for item in lst_post_same%}
            <tr>
                <td><a href="{% url 'post_detail' item.id %}">{{item.title}}</a></td>
                <td>{{item.author}}</td>
                <td>{{item.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}

{% block something %}
    <div class="container-fluid p-3 post_something">
        <div class="image">
            <img src="{% static 'MediCom/images/QC_something.PNG' %}" alt="" class="img-fluid">
        </div>
        <div class="post_trending pt-4">
            <h4>Trending</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
                <li class="list-group-item">Fourth item</li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block usercomment %}
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12 comment-view border border-dark p-4 m-4">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group" >
                    <label >Write something:</label>
                    {{ form_comment }}
                    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
            </form>
            {% for comment in lst_comment%}
            <div class="media p-3">
              <img src="{% static 'MediCom/images/doctor-member.jpg' %}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
              <div class="media-body">
                  <h4>{{ comment.author }} <small><i>{{ comment.date }}</i></small></h4>
                  <p>{{ comment.content }}</p>
                  <div class="p-0">
                      <p class="">
                          <a href=""> {{ comment.vote }} <i class="fas fa-thumbs-up pl-2"></i></a>
                          <a href=""> Reply </i></a>
                          <a href=""> Share</a>
                      </p>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block jsblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
         var name = '{{ user.id }}';
         var post = '{{ post.id }}';
        document.getElementById("elder").value = name;
        document.getElementById("post_id").value = post;

    </script>
{% endblock %}